<%- include('./Blocks/Header.ejs', { Coven, user, Page, Redirect: `/leaderboard/${ID}`, pageType: "" }) %>

<link rel="stylesheet" href="https://mythicalbots.xyz/css/bots.css">
<link rel="stylesheet" href="https://mythicalbots.xyz/css/form.css">
<link rel="stylesheet" href="https://mythicalbots.xyz/css/github-markdown.css"> 

<div class="index-container" style="background: transparent; ">
	<div class="text-center">
			<img class="server-avatar" src="https://cdn.discordapp.com/icons/<%= ID %>/<%= guild.icon %>" style="outline-style:red; color: #1b1b1b;" draggable="false" onerror="this.onerror=null;this.src='https://cdn.glitch.com/a555ed97-82ee-4fd0-bf48-544503e0b774%2Fdownload%20(2).jpeg?v=1579188933613';">
			  <p class="server-name" style="outline-style:black; color: #1b1b1b;" title="news"><%= guild.name %></p>
            <br>
	</div>
</div>

<div class="container">
 <center>
   <div class="row" role="alert">
     <div class="col-md-12" role="alert">
       <div class="alert alert-primary alert-danger" role="alert">
         <h4 class="alert-heading"> Soul Coven - Developer Alert <br> This page is still under construction! </h4>
      </div>
    </div>
  </div>
 </center>
</div>

<div class="padded-container">
  <div class="row"> 
  
  <% for(var i=0; i < d.length; i++) { %>
  
    <div class="col-lg-4 col-md-6 col-sm-12">
      <a class="no-color" href="/user/<%= d[i].id %>">
        <div class="card preview-card">
          <div class="card-body">
            <div class="head">
              <img class="float-left lazy" src="/user/<%= d[i].id %>/avatar" alt="Avatar" draggable="false">
              <div class="content">
                <h3 title="news"> <%= d[i].name || "user#0000" %> </h3>
                <p class="description" style="color:#fff;" title="biography"> Level: <%= d[i].level %> <br> Points: <%= d[i].levelpoints %> </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    
  <% } %>

    </div>	
</div> 